---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import "../../styles/global.css";

const posts = (await getCollection("blog")).sort(
  (a: { data: { pubDate: Date } }, b: { data: { pubDate: Date } }) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body
    class="bg-background text-foreground flex flex-col min-h-screen lg:w-[60%] p-4 lg:p-0 mx-auto font-handwriting"
  >
    <Header />
    <main>
      <section>
        <ul>
          {
            posts.map(
              (post: {
                id: any;
                data: {
                  title: unknown;
                  pubDate: Date;
                };
              }) => (
                <li>
                  <a href={`/blog/${post.id}/`}>
                    <h4 class="title">{post.data.title}</h4>
                    <p class="date">
                      <FormattedDate date={post.data.pubDate} />
                    </p>
                  </a>
                </li>
              )
            )
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
