---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ProjectCard from "../components/ProjectCard.astro";
import FormattedDate from "../components/FormattedDate.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "../styles/global.css";

import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a: { data: { pubDate: number; }; }, b: { data: { pubDate: number; }; }) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <link rel="icon" type="image" href="/me-sketch.png" />
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />

    <script
      defer
      data-domain="adityajyoti.com"
      src="https://analytics.adityajyoti.com/js/script.js"></script>
    </script>
    
  </head>
  <body
    class="bg-background text-foreground flex flex-col min-h-screen lg:w-[60%] p-4 lg:p-0 mx-auto font-handwriting"
  >
    <Header />

    <section class="flex-grow flex flex-col gap-4">
      <!-- root -->
      <section
        id="root"
        class="flex lg:flex-row flex-col justify-between items-center lg:w-[90%] mx-auto lg:py-12"
      >

        <div class="w-full lg:hidden justify-center flex">
          <img src="/me-sketch.png" alt="my photo" class="h-64 p-2" />
        </div>
        <div class="flex flex-col lg:text-xl text-lg lg:w-fit w-full lg:text-left text-center">
          <span class="lg:text-4xl text-2xl font-black">Hey! I'm Aditya Jyoti</span>
          <span class="lg:text-lg text-sm flex items-center lg:justify-start justify-center"
            >breaking things since... <img
              src="/shushing-face.svg"
              alt="sush emoji"
              class="lg:w-10 w-8 aspect-square"
            />
          </span>

          <span
            >A diehard engineer using tech to cope with the struggles of life.
            Susceptible to doing things just because they look "cool"</span
          >

          <div class="relative flex gap-4 font-semibold text-sm mt-4">
            <!-- button 1 -->
            <div class="relative">
              <div
                class="handdrawn-1 flex items-center justify-center border-2 w-full h-10 absolute top-0 left-0 z-10 bg-background border-foreground hover:translate-x-0.5 hover:translate-y-0.5 transition-all ease-in-out duration-300"
              >
                <a
                  href="https://linkedin.com/in/aditya-jyoti"
                  target="_blank"
                  class="mt-1 w-full text-center">LINKEDIN</a
                >
              </div>
              <div
                class="handdrawn-1 lg:w-56 w-36 h-10 bg-foreground translate-x-1 translate-y-1"
              >
              </div>
            </div>
            <!-- button 1 -->
            <div class="relative">
              <div
                class="handdrawn-5 flex items-center justify-center w-full h-10 absolute top-0 left-0 z-10 text-background bg-foreground hover:translate-x-0.5 hover:translate-y-0.5 transition-all ease-in-out duration-300"
              >
                <a
                  href="https://github.com/aditya-jyoti"
                  target="_blank"
                  class="handdrawn-3 mt-1 w-full text-center">GITHUB</a
                >
              </div>
              <div
                class="handdrawn-5 lg:w-56 w-36 h-10 bg-background border-2 border-foreground translate-x-1 translate-y-1"
              >
              </div>
            </div>
          </div>
        </div>
        <div class="w-full scale-125 lg:flex justify-center hidden">
          <img src="/me-sketch.png" alt="my photo" class="h-64 p-2" />
        </div>
      </section>

      <!-- projects -->
      <section id="projects" class="flex flex-col gap-4">
        <div class="flex flex-col w-full items-end">
          <span class="lg:text-4xl text-2xl font-bold">Projects</span>
          <div class="lg:w-24 w-12 h-1 rounded-full bg-foreground"></div>
        </div>

        <div class="lg:text-xl text-right">
          I have worked on multiple fullstack projects and my biggest
          achievement has to be contributing to the technical infrastructure of
          the college I study in. Currently I am learning devops and am trying
          to self host my life.
        </div>

        <!-- project card -->
        <div class="flex lg:flex-row flex-col gap-4 justify-around w-full">
          <ProjectCard
            handdrawn_style="handdrawn-1"
            title="Recruitment Site"
            description="A supabase powered recruitment side handling the recruitment of over 800 people for IEEE Computer Society"
            link="https://github.com/ComputerSocietyVITC/Recruitment-Site-Frontend/"
          />
          <ProjectCard
            handdrawn_style="handdrawn-3"
            title="Hono API Template"
            description="An easy to setup REST API template using Hono. Uses prisma, postgresql and minio. Comes with RBAC and deployment options."
            link="https://github.com/Aditya-Jyoti/Hono-API-Template/"
          />
          <ProjectCard
            handdrawn_style="handdrawn-4"
            title="Custom Shell"
            description="A work in progress custom shell written in C++ made to learn the workings of linux commands."
            link="https://github.com/Aditya-Jyoti/Custom-Shell"
          />
        </div>

        <div class="lg:text-xl text-lg my-2">
          you can find more projects over at my <a
            href="https://github.com/aditya-jyoti"
            target="_blank"
            class="underline underline-offset-2">github</a
          >...
        </div>
      </section>

      <!-- what i do -->
      <section id="whatido">
        <div class="flex flex-col w-full">
          <span class="lg:text-4xl text-2xl font-bold">What I Do</span>
          <div class="lg:w-24 w-12 h-1 rounded-full bg-foreground"></div>
        </div>

        <section class="py-4 lg:text-xl flex flex-col gap-4">
          <div class="flex flex-col">
            <span class="font-bold lg:text-2xl text-lg">. Robotics -</span>
            <span
              >I love building things from scratch. Imagine a world where all
              the hardware that you use was sourced and built by yourself.
              That's the world I want to live in.
            </span>
          </div>
          <div class="flex flex-col w-full items-end text-right">
            <span class="font-bold lg:text-2xl text-lg">- Programming .</span>
            <span
              >Programming feels like magic to me. It gives me the freedom to
              explore and build my own world with only my imagination as a
              limit.
            </span>
          </div>
          <div class="flex flex-col">
            <span class="font-bold lg:text-2xl text-lg">. Public Speaking -</span>
            <span
              >The rush of emotions i feel when I am on stage, talking to a
              crowd is something I can not explain. Seeing everyone's eyes on
              me, listening to my every word and so much more gives me more
              adrenaline than any thing in the world.
            </span>
          </div>
        </section>
      </section>

      <!-- blog  -->
      <section id="blog" class="flex flex-col gap-4 -mt-6">
        <div class="flex flex-col w-full items-end"> 
          <span class="lg:text-4xl text-2xl font-bold">I Also Write</span>
          <div class="w-32 h-1 rounded-full bg-foreground"></div>
        </div>
        <!-- content -->
        <section class="relative">
          {
            posts.slice(0, 2).map((post: { data: { title: unknown; description: unknown; pubDate: Date; }; id: any; }) => (
              <div
                class={`flex flex-col gap-4 w-full hover:translate-x-0.5 hover:translate-y-0.5 transition-all ease-in-out duration-300 border-2 border-foreground bg-background p-4 lg:h-48 h-[14.5rem] absolute z-10 handdrawn-${Math.floor(Math.random() * 5) + 1}`}
              >
                <span class="lg:text-2xl text-lg font-bold">{post.data.title}</span>
                <span class="lg:text-xl text-sm flex-grow">{post.data.description}</span>
                <div class="w-full flex lg:text-xl text-lg justify-between">
                  <FormattedDate date={post.data.pubDate} />
                  <a href={`/blog/${post.id}`} class="hover:underline underline-offset-2" target="_blank">read here</a>
                </div>
              </div>
              <div
                class={`flex flex-col gap-4 w-full border-2 bg-foreground border-foreground p-4 lg:h-48 h-[14.5rem] translate-x-1 translate-y-1 handdrawn-${Math.floor(Math.random() * 5) + 1}`}
              >
              </div>
            ))
          }
        </section>

        <div class="lg:text-xl my-2">
          I maintain (try) a blog called <i class="font-bold">Aditya Writes</i>. You can check more of my posts <a
            href="/blog"
            target="_blank"
            class="underline underline-offset-2">here</a
          >...
        </div>
      </section>

      <!-- contact  -->
      <section id="contact" class="flex flex-col gap-4" >
        <div class="flex flex-col w-full">
          <span class="lg:text-4xl text-2xl font-bold">Talk To Me (please)</span>
          <div class="lg:w-44 w-24 h-1 rounded-full bg-foreground"></div>
        </div>

        <div class="lg:text-xl text-lg" >
          You can send me an email at <a href="mailto:website@adityajyoti.com">
            <strong>website@adityajyoti.com</strong></a> 
            and I will respond promptly, or you can leave a message here. 
        </div>

        <section class="flex flex-col gap-4 relative">
          <div class="flex gap-4" >
            <!-- name -->
            <div class="relative w-full">
              <span class="text-xl">name </span>
              <div class="w-full">
                <input
                  required
                  id="name"
                  type="text"
                  name="name"
                  placeholder="your name..."
                  class="p-2 border-2 hover:translate-x-0.5 hover:translate-y-0.5 transition-all duration-300 ease-in-out w-full absolute z-10 border-foreground bg-background handdrawn-3 selection:border-foreground text-foreground placeholder-foreground"
                />
                <input
                  type="text"
                  name="name"
                  placeholder="Name"
                  readonly
                  class="p-2 border-2 w-full border-foreground bg-foreground translate-x-1 translate-y-1 handdrawn-3 text-foreground placeholder-foreground"
                />
              </div>
            </div>

            <!-- email -->
            <div class="relative w-full">
              <span class="text-xl">email </span>
              <div class="w-full">
                <input
                  required
                  id="email"
                  type="email"
                  name="name"
                  placeholder="your email..."
                  class="p-2 border-2 hover:translate-x-0.5 hover:translate-y-0.5 transition-all duration-300 ease-in-out w-full absolute z-10 border-foreground bg-background handdrawn-5 selection:border-foreground text-foreground placeholder-foreground"
                />
                <input
                  type="email"
                  name="name"
                  placeholder="Name"
                  readonly
                  class="p-2 border-2 w-full border-foreground bg-foreground translate-x-1 translate-y-1 handdrawn-3 text-foreground placeholder-foreground"
                />
              </div>
            </div>
          </div>

          <div class="relative w-full">
            <span class="text-xl">message </span>
            <div class="w-full">
              <textarea
                required
                id="message"
                name="name"
                rows="4"
                placeholder="Please write your message (I read everything)..."
                class="p-2 border-2 hover:translate-x-0.5 hover:translate-y-0.5 transition-all duration-300 ease-in-out w-full absolute z-10 border-foreground bg-background handdrawn-1 resize-none selection:border-foreground text-foreground placeholder-foreground"
              />
              <textarea
                name="name"
                placeholder="Name"
                rows="4"
                readonly
                class="p-2 border-2 w-full border-foreground resize-none bg-foreground translate-x-1 translate-y-1 handdrawn-3 text-foreground placeholder-foreground"
              />
            </div>
          </div>

          <button
            id="button"
            class="p-2 bg-foreground text-background font-bold handdrawn-4 hover:bg-background hover:text-foreground transition-all duration-300 ease-in-out border-2 border-foreground"
          >
            Send
          </button>
        </section>

      </section>

    </section>

    <Footer />

    <script>
      import { createClient } from "@supabase/supabase-js";

      const supabase = createClient(
        "https://teonperjhrienhvqqkfn.supabase.co",
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRlb25wZXJqaHJpZW5odnFxa2ZuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzU0NzQwMzEsImV4cCI6MjA1MTA1MDAzMX0.fBdtTHWReuZ91TfokLivsTQcxIuBXv7n3UV1kKnWMQs"
      );

      document.addEventListener("DOMContentLoaded", () => {
        const button = document.getElementById("button") as HTMLButtonElement;

        button.addEventListener("click", () => {
          const name = (document.getElementById("name") as HTMLInputElement).value;
          const sender_email = (document.getElementById("email") as HTMLInputElement).value;
          const message = (document.getElementById("message") as HTMLInputElement).value;

          supabase
            .from("Message")
            .insert([{ name, sender_email, message }])
            .then((res) => {
              alert("Message sent successfully");
            })
        });
      });
    </script>
  </body>
</html>
